<div class='email-status'>

  <p> Thanks for visiting the {{pageName}} page at Menu tracker. You can email me at maximvanlyl@gmail.com</p>
  {{yield 'hello' 'world'}}
{{!--
  {{#if hasBlock}}
    <p>You're using a block component!</p>
  {{else}}
    <p>Sorry, no block</p>
  {{/if}} --}}

</div>
